@model AmonFinalProect.Models.AccountModel
@{
    ViewData["Title"] = "Index";
}
<div class="centered-form">
    <h2>Sign in</h2>
</div>
<div class="form-div">
    <div class="pcenter">


        <div asp-validation-summary="All"></div>
    </div>
    <form asp-action="index" asp-controller="account" method="post">
        <div form-row>
            <div class="form-group col-md-4 offset-md-4">


                <div asp-validation-summary="All"></div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 offset-md-4">
                <label>Email address</label>
                <input type="text" class="form-control" placeholder="Enter email" name="username" required />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 offset-md-4 offset-md-4">
                <label>Password</label>
                <input type="password" placeholder="Enter password" class="form-control" name="password" required />
            </div>
        </div>
        <div class="form-row">
            <div class=" form-group col-md-4 offset-md-4">
                <a asp-action="ForgotPassword"> Forgot your password?</a>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 offset-md-4">
                <input type="submit" class="form-control btn btn-info" value="Login" />
            </div>
        </div>
    </form>

    <div class="col-md-4 offset-md-4">
        <span>Don't have an account?</span>
        <a asp-action="Register">Create one</a>
    </div>

</div>

