
@{
    ViewData["Title"] = "ForgotPassword";
}

<form method="post">
    <label for="email">Enter the email address</label>
    <input type="email" name="email" required />
    <input type="submit" value="Submit" />
</form>

